@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width" />
    <title>欢迎登录</title>

    <script type="text/javascript" src="~/Scripts/jQuery1.7.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery1.42.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="~/Scripts/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $tab_li = $('#tab ul li');
            $tab_li.hover(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $tab_li.index(this);
                $('div.tab_box > div').eq(index).show().siblings().hide();
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            /*航空公司登录信息验证*/
            $("#stu_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入账号') {
                    $(this).val('');
                }
            });
            $("#stu_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入账号');
                }
            });
            $("#stu_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#stu_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $(".stu_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".stu_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });
            /*员工登录信息验证*/
            $("#tea_username_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入员工号') {
                    $(this).val('');
                }
            });
            $("#tea_username_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入员工号');
                }
            });
            $("#tea_password_hide").focus(function () {
                var username = $(this).val();
                if (username == '输入密码') {
                    $(this).val('');
                }
            });
            $("#tea_password_hide").focusout(function () {
                var username = $(this).val();
                if (username == '') {
                    $(this).val('输入密码');
                }
            });
            $(".tea_login_error").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $(".tea_error_box");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                },
                ajaxPost: true
            });
            $(function () {
                $(".screenbg ul li").each(function () {
                    $(this).css("opacity", "0");
                });
                $(".screenbg ul li:first").css("opacity", "1");
                var index = 0;
                var t;
                var li = $(".screenbg ul li");
                var number = li.size();
                function change(index) {
                    li.css("visibility", "visible");
                    li.eq(index).siblings().animate({ opacity: 0 }, 3000);
                    li.eq(index).animate({ opacity: 1 }, 3000);
                }
                function show() {
                    index = index + 1;
                    if (index <= number - 1) {
                        change(index);
                    } else {
                        index = 0;
                        change(index);
                    }
                }
                t = setInterval(show, 8000);
                //根据窗口宽度生成图片宽度
                var width = $(window).width();
                $(".screenbg ul img").css("width", width + "px");
            });
    </script>
</head>
<body>
    <div id="tab">
        <ul class="tab_menu">
            <li class="selected">航空公司登录</li>
            <li>员工登录</li>
        </ul>
        <div class="tab_box">
            <!-- 航空公司登录开始 -->
            <div>
                <div class="stu_error_box"></div>
                <form action="/Login/CheckCompanyLogin" method="post" class="stu_login_error">
                    <div id="username">
                        <label>帐&nbsp;&nbsp;&nbsp;号：</label>
                        <input type="text" id="stu_username_hide" name="LoginId" placeholder="输入帐号" nullmsg="帐号不能为空！" datatype="s6-18" errormsg="帐号范围在6~18个字符之间！" sucmsg="帐号验证通过！" />
                        <!--ajaxurl="demo/valid.jsp"-->
                    </div>
                    <div id="password">
                        <label>密&nbsp;&nbsp;&nbsp;码：</label>
                        <input type="password" id="stu_password_hide" name="Loginpwd" placeholder="输入密码" nullmsg="密码不能为空！" datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！" />
                    </div>
                    <div id="remember">
                        <input type="checkbox" name="remember">
                        <label>记住密码</label>
                    </div>
                    <div id="login">
                        <button type="submit">登录</button>
                    </div>
                </form>
            </div>
            <!-- 航空公司登录结束-->
            <!-- 员工登录开始-->
            <div class="hide">
                <div class="tea_error_box"></div>
                <form action="/Login/CheckGroundWorkerLogin" method="post" class="tea_login_error">
                    <div id="username">
                        <label>员工号：</label>
                        <input type="text" id="tea_username_hide" name="LoginId" placeholder="输入员工号" nullmsg="员工号不能为空！" datatype="s6-18" errormsg="员工号范围在6~18个字符之间！" sucmsg="员工号验证通过！" />
                        <!--ajaxurl="demo/valid.jsp"-->
                    </div>
                    <div id="password">
                        <label>密&nbsp;&nbsp;&nbsp;码：</label>
                        <input type="password" id="tea_password_hide" name="Loginpwd" placeholder="输入密码" nullmsg="密码不能为空！" datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！" />
                    </div>
                    <div id="remember">
                        <input type="checkbox" name="remember">
                        <label>记住密码</label>
                    </div>
                    <div id="login">
                        <button type="submit">登录</button>
                    </div>
                </form>
            </div>
            <!-- 员工登录结束-->
        </div>
    </div>
    <div class="screenbg">
        <ul>
            <li><a href="javascript:;"><img src="~/Picture/0.jpg"></a></li>
            <li><a href="javascript:;"><img src="~/Picture/1.jpg"></a></li>
            <li><a href="javascript:;"><img src="~/Picture/2.jpg"></a></li>
        </ul>
    </div>
</body>
</html>

