@using WebApplication4.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>航空公司</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/help-styles.css" />
    <link rel="stylesheet" href="~/Content/prism.css" />
    <link rel="stylesheet" href="~/Content/foxholder-styles.css" />
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery1.42.min.js"></script>
    <script src="~/Scripts/jQuery1.7.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/Scripts/jquery-1.10.2.intellisense.js"></script>

    <script src="/Scripts/prism.js"></script>


    <script src="/Scripts/script.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66794691-3', 'auto');
        ga('send', 'pageview');
    </script>

    <style type="text/css">
        table {
            border: none;
            width: 500px;
            height: 300px;
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 150px;
            box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
            background-color: #003D79;
            opacity: 0.85;
        }

        #box {
            width: 380px;
            margin: 20px auto;
            font-family: 'Microsoft YaHei';
            font-size: 14px;
        }

        input {
            width: 300px;
            border: none;
            height: 50px;
            float: left;
            background-image: url(images/search.jpg);
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 5px center;
            padding: 0 0 0 40px;
            margin-top: -120px;
            border-radius: 3px 3px 3px 3px;
            margin-left: -30px;
        }

        #search {
            width: 78px;
            height: 50px;
            float: right;
            background: #930000;
            color: white;
            text-align: center;
            cursor: pointer;
            border-radius: 3px 3px 3px 3px;
            margin-top: -120px;
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/frame.css" />

</head>

<body>
    <div id="page">
        <div id="header">
            <div id="section">
                <div id="logo"><img src="~/Picture/logo.jpg" alt="Logo" /></div>
                <p>欢迎使用机场管理系统</p>
            </div>
            <div id="user">
                <p>
                    你好,&nbsp;<span id="name">东方航空公司</span>
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Login/Login" style="color:#a6beea;font-size:15px;">注销</a>
                </p>

            </div>
            <ul id="tcontent">
                <li><a href="/Airlines/Airlines">新建航班</a></li>
                <li><a href="/Airlines/ChangeFlight">修改航班</a></li>
                <li><a href="~/Airlines/AddPlane">添加飞机</a></li>
                <li class="current"><a href="#">查询航班</a></li>
                <li><a href="/Airlines/FlightInformation">实时航班信息</a></li>

            </ul>
        </div>
        <div class="container" style="width: 830px;">
            <table>
                <tr>
                    <td>
                        <div class="text1" style=" margin-bottom:160px;margin-left:20px;color:white;font-size:20px;">航班信息查询</div>
                        <div id="box">
                            <input type="text" name="search" placeholder="请输入航班号">
                        </div>
                        <div id="search"><div class="text" style=" text-align:center;margin-top:14px;color:white">立即查询</div></div>
                    </td>
                </tr>
            </table>

        </div>
        <div id="footer">
            <div>
                <div id="connect">
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="/Picture/icon-facebook.gif" alt="Facebook" /></a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="/Picture/icon-twitter.gif" alt="Twitter" /></a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="~/Picture/icon-youtube.gif" alt="Youtube" /></a>
                </div>
                <div class="section">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="admissions.html">Admissions</a></li>
                        <li><a href="trainingcourses.html">Training Courses</a></li>
                        <li><a href="career.html">Career</a></li>
                        <li class="last"><a href="contactus.html">Contact Us</a></li>
                    </ul>
                    <p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/foxholder.js"></script>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>


</body>

</html>

